.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    color: #070707;

   
}
.barside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 140px;
    background-color: black;
    color: #ffffff;

         padding-top: 40px;
.tickets {
    display: flex;

    align-items: center;
    padding-right: 30px;

}
.dashboard {
        display: flex;

    align-items: center;
    display: flex;
}
    input {
        width: 20px;
    }
}
.main {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;


 
}
.selection {
    display: flex;
    width: 200px;
 
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


}

h1 {
    padding: 0%;
    margin: 0%;
    color: #070707;
}
.selection1 {
    height: 40px;
      background-color: #ffffff;
      color: #070707;
      border-radius: 10px;
      width: 100%;


}
  
    
    .option {

        width: 40px;

        

    }
    
option {
  border-radius: 20px; 
  text-align: center; 
  padding: 5px 10px;  

}

button {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 5px;
    
}
hr {
    border: 0.5px solid black;
    width: 0px;
    margin: 20px;

}

.under {
    display: flex;
    
}
.leftside {
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;

}
.right_side {
display: flex;
width: 300px;
flex-direction: column;
gap: 20px;

input {
    width: 100%;
    padding: 0px 0px 0px 5px;

}
}
textarea {
        width: 100%;
        color: #070707;
background: none;
}
